import React from 'react';
import styled from '{{ StyledLibraryImport }}';
import {Helmet} from 'react-helmet-async';

const Div = styled.div``;

export interface {{ pascalCase PageName }}Props {}

export const {{ pascalCase PageName }}: React.FC<{{ pascalCase ContainerName }}Props> = (props: {{ pascalCase ContainerName }}Props) => {
    return (
        <Div>{{ ContainerName }}</Div>
    )
}